body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

        /*nav*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    
}

nav img{
    width: 200px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease ;
}
nav .navigation ul li a:hover{
    color: yellow;
}
nav ul{
    margin: 0px;
    padding: 0px;
}



nav .table li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

nav .table li a{
    font-size: 15px;
    text-decoration: none;
    padding: 20px 30px;
    text-transform: uppercase;
    color: white;
}

.table{
    display: table;
    margin-top: 40px;
}

/*home*/

.home{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

}

.home .btn{
    margin-top: 40px;
}

.home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

section{
    width: 100%;
}


.sec2 h1{
    text-align: center;
}

.box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 16px;
	margin-top: 50px;
    margin-left: 40px;
}




footer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}